<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workstation.securitycheckcall">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity display first form (main menu) -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- New alarm activity to add new alarm into dataase app -->
        <activity
            android:name=".SetNewAlarmActivity"
            android:screenOrientation="portrait"></activity>

        <!-- New activity to run an alarm and inform the user about them -->
        <activity android:name=".RunAlarmActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>